
<div id="login">
    <h1>{{message}}</h1>
    <form  action="/login" method="post">
        <input autocomplete="off" type="text" required="required" placeholder="用户名" name="username" value＝""></input>
        <input autocomplete="off" type="password" required="required" placeholder="密码" name="password" value＝""></input>
        <button class="but" type="submit">登录</button>
    </form>
</div>